*{
    background-size: 50%;
    background-repeat: no-repeat;
    background-color:antiquewhite;
    align-items: center;
    padding:5px;
    
}

.registration{
    background-color: aquamarine;
    padding: 10dvh;
    margin-top:0px;
}
body{
    height: 80%;
    width: 80%;
}
